.box-modal.modal
  .box-modal_close.arcticmodal-close закрыть
  .content
    h1.title This is a modal
    p
      | Here is some text and stuff. cool cool
    a.btn.close-modal(data-modal='#modal1', href='#') K Bye
