@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.footer {
  color: #353a43;
  position: relative;
}
.footer a:hover {
  text-decoration: none;
}
.footer__info {
  display: inline-block;
  max-width: 270px;
}
.footer__info p {
  color: #c0bfc5;
  font-size: 16px;
  line-height: 21px;
}
.footer__logo {
  color: #6841f2;
  font-size: 31px;
  line-height: 31px;
  font-weight: bold;
}
.footer__logo:hover {
  opacity: 0.7;
}
.footer__contacts {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-top: 15px;
}
.footer__contacts a {
  color: #353a43;
}
.footer__contacts a:hover {
  text-decoration: none;
  color: #6841f2;
}
.footer__contacts + .footer__contacts {
  margin-top: 0;
}
.footer__menu {
  float: right;
  min-width: 630px;
}
.footer__menu-list {
  display: block;
  text-align: left;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 21px;
}
.footer__menu-list-item {
  color: #353a43;
  font-size: 16px;
  line-height: 41px;
}
.footer__menu-list-item + .footer__menu-list-item {
  margin-left: 45px;
}
.footer__menu-social {
  display: block;
}
