@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.main-page .pageslist {
  display: table;
  width: 100%;
}
.main-page .pageslist h4 {
  padding: 10px 10px;
  display: inline-block;
  border: 1px solid #00f;
  border-radius: 10px;
  margin: 20px 0;
}
.main-page .pageslist__item {
  display: table-row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.main-page .pageslist__item-img {
  display: table-cell;
  padding: 20px 0;
  border-bottom: 1px solid #542a00;
  width: 40%;
}
.main-page .pageslist__item-img a {
  display: block;
  max-height: 600px;
  overflow: hidden;
}
.main-page .pageslist__item-img img {
  max-width: 300px;
}
.main-page .pageslist__item-url {
  display: table-cell;
  width: 60%;
  padding: 20px 0;
  border-bottom: 1px solid #542a00;
  font-size: 30px;
}
.main-page .pageslist__item-url img {
  display: block;
  max-width: 100%;
  margin-top: 30px;
}
