@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.main-page {
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#f3f0fe));
  background-image: -webkit-linear-gradient(left, #fff 0%, #f3f0fe 100%);
  background-image: linear-gradient(to right, #fff 0%, #f3f0fe 100%);
}
.main-page .preview {
  padding-top: 77px;
  background-image: url("../img/bg_top.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
}
