@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.topnav {
  display: block !important;
  background-size: cover;
  background-position: center;
  color: #353a43;
  padding-top: 35px;
  height: 77px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (max-width: 980px) {
  .topnav {
    padding: 35px 40px 0;
  }
}
.topnav a {
  color: #353a43;
}
.topnav a:hover {
  color: #6841f2;
  text-decoration: none;
}
.topnav .container {
  position: relative;
  height: 77px;
  -webkit-transition: height 150ms;
  transition: height 150ms;
}
.topnav .container:after {
  content: "";
  display: table;
  width: 100%;
  font: 0/0 'a';
}
.topnav__burger {
  width: 28px;
  height: 18px;
  border-top: 2px solid #fff;
  position: relative;
  cursor: pointer;
}
.topnav__burger:before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 7px;
  left: 0;
}
.topnav__burger:after {
  content: '';
  display: block;
  width: 28px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.topnav__burger img {
  opacity: 0;
}
@media only screen and (min-width: 981px) {
  .topnav__burger {
    display: none;
  }
}
@media only screen and (max-width: 980px) {
  .topnav__burger {
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    float: right;
  }
}
.topnav__logo {
  display: inline-block;
  will-change: width;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  font-size: 31px;
  font-weight: bold;
  color: #6841f2;
  line-height: 42px;
  vertical-align: baseline;
  margin-top: -24px;
  width: 317px;
}
.topnav__logo:hover {
  opacity: 0.7;
  color: #6841f2;
}
.topnav__logo img {
  width: 100%;
}
.topnav__list {
  float: right;
  line-height: 0;
}
@media only screen and (min-width: 981px) {
  .topnav__list {
    float: right;
  }
}
@media only screen and (max-width: 980px) {
  .topnav__list {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff url("../img/bg_top.png") no-repeat;
    background-position: -250px 0;
    height: 100vh;
    left: 0;
    padding: 50px 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.topnav__list-item {
  line-height: 42px;
  font-size: 16px;
  vertical-align: baseline;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}
@media only screen and (min-width: 981px) {
  .topnav__list-item {
    display: inline-block;
    margin: 0 0 0 45px;
  }
}
@media only screen and (max-width: 980px) {
  .topnav__list-item {
    display: block;
  }
}
.topnav__list-item.-active {
  color: #6841f2;
}
.topnav__list-item.-translate {
  display: none;
}
.topnav__list-item-language {
  display: none;
}
.topnav__list-item-language.-active {
  display: block;
}
.topnav__list-item.-enter {
  height: 42px;
  border: 1px solid #6841f2;
  border-radius: 21px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #6841f2;
}
.topnav__list-item.-enter:hover {
  background: #6841f2;
  color: #fff;
}
.topnav.-main {
  color: #fff;
}
.topnav.-main a.topnav__list-item {
  color: #fff;
}
.topnav.-main a.topnav__list-item:hover {
  opacity: 0.7;
  color: #fff;
}
.topnav.-main a.topnav__list-item.-enter {
  border: 1px solid #fff;
  color: #fff;
}
.topnav.-main a.topnav__list-item.-enter:hover {
  opacity: 1;
  border: 1px solid #fff;
  background: #fff;
  color: #6841f2;
}
.topnav.-main .topnav__logo {
  color: #6841f2;
}
.topnav.-main .topnav__logo:hover {
  color: #6841f2;
}
