extends /layout
include /header

block main
  .main-page
    .preview
      .container
        .preview__left
          .preview__subtitle НОВАЯ ПЛАТФОРМА РАСШИРЕННОЙ РЕАЛЬНОСТИ
          h2.preview__title Создавайте удивительные вещи с ARLine
          .preview__text Самый простой способ создания дополненной реальности
          .preview__form
            form
              input.preview__form-input(type="email", name="email", placeholder="Ваш E-mail")
              button.preview__form-button Зарегистрироваться
        .preview__right
          .preview__img
            img(src="img/preview.png")
        a.preview__arrow(href="#principles")
          img(src="img/arrowdown.png")
    #principles.principles
      .container
        h2.principles__title Принципы работы #[br]дополненной реальности
        .principles__list
          .principles__list-item
            .principles__list-item-img
              img(src="img/principles1.png")
            h4.principles__list-item-title Цифровая информация
            .principles__list-item-text Практически любое изображение, окружающее мир или даже предмет, может быть дополнен цифровой информацией.
          .principles__list-item
            .principles__list-item-img
              img(src="img/principles2.png")
            h4.principles__list-item-title Умная система 
            .principles__list-item-text С помощью камеры смартфона система определяет изображение или объект, либо определяет плоскости (стены и пол).
          .principles__list-item
            .principles__list-item-img
              img(src="img/principles3.png")
            h4.principles__list-item-title Дополненная реальность
            .principles__list-item-text Реальный мир дополняется цифровыми объектами.
          .principles__list-item
            .principles__list-item-img
              img(src="img/principles4.png")
            h4.principles__list-item-title Инновация
            .principles__list-item-text Подобные системы изменят то, как мы пользуемся компьютерами и цифровыми устройствами.
    .using
      .container
        h2.using__title Как  пользоваться сервисом
        .using__tabs
          .using__tabs-titles
            .using__tabs-titles-item 1. Загрузка маркера
            .using__tabs-titles-item.active 2. Загрузка контента             
            .using__tabs-titles-item 3. Размер видео
            .using__tabs-titles-item 4. Приложение
          .using__tabs-content
            .using__tabs-content-item
            .using__tabs-content-item.active
              .using__tabs-content-img
              .using__tabs-content-about
                h3.using__tabs-content-about-title Загрузка контента
                .using__tabs-content-about-text
                  | Загрузите необходимый контент, который вы хотите отобразить  на маркере. Мы поддерживаем большинство форматов видео, аудио и фото. 3D модели и 360 видео и фото в разработке.
            .using__tabs-content-item
            .using__tabs-content-item







       






      
      


  