extends /layout
include /header

block main
  .main-page
    +header("Страницы Linkyou")
    .container
      .pageslist
        .pageslist__item
          .pageslist__item-img
            h4 360 Promopage Android.jpg
            a(href="img/_360PromopageAndroid.jpg" target="blank") 
              img(src="img/_360PromopageAndroid.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/#") https://linkyou.ru/#
        .pageslist__item
          .pageslist__item-img
            h4 360 Promopage Login.jpg       
            a(href="img/_360PromopageLogin.jpg" target="blank") 
              img(src="img/_360PromopageLogin.jpg")
            h4 360 Promopage Registration 
            a(href="img/_360PromopageRegistration.jpg" target="blank") 
              img(src="img/_360PromopageRegistration.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/#") https://linkyou.ru/#
            img(src="http://joxi.ru/Vm6b7nlHDznDym.jpg")
        .pageslist__item
          .pageslist__item-img
            h4 360 Mainpage Android.jpg
            a(href="img/_360MainpageAndroid.jpg" target="blank")
              img(src="img/_360MainpageAndroid.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/welcome") https://linkyou.ru/welcome
        .pageslist__item
          .pageslist__item-img
            h4 360 Menu of registred user Android.jpg
            a(href="img/_360MenuofregistreduserAndroid.jpg")
              img(src="img/_360MenuofregistreduserAndroid.jpg")
            h4 360 Menu of VIP user Android.jpg
            a(href="img/_360MenuofVIPuserAndroid.jpg")
              img(src="img/_360MenuofVIPuserAndroid.jpg")              	
          .pageslist__item-url
            a(href="https://linkyou.ru/") https://linkyou.ru/
            img(src="http://joxi.ru/4AkOekaHyK4GbA.jpg")
        .pageslist__item
          .pageslist__item-img
            h4 360 Page Edit Android.jpg
            a(href="img/_360PageEditAndroid.jpg")
              img(src="img/_360PageEditAndroid.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/edit") https://linkyou.ru/edit
        .pageslist__item
          .pageslist__item-img
            h4 360 Android Userpage.jpg
            a(href="img/_360AndroidUserpage.jpg")
              img(src="img/_360AndroidUserpage.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/user/167789") https://linkyou.ru/user/номер пользователя
        .pageslist__item
          .pageslist__item-img
            h4 360 Android Dialogs.jpg
            a(href="img/_360AndroidDialogs.jpg")
              img(src="img/_360AndroidDialogs.jpg")
            h4 360 Several Dialogs Android.jpg
            a(href="img/_360SeveralDialogsAndroid.jpg")
              img(src="img/_360SeveralDialogsAndroid.jpg")          
            h4 360 No Dialogs Android.jpg
            a(href="img/_360NoDialogsAndroid.jpg")
              img(src="img/_360NoDialogsAndroid.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/im") https://linkyou.ru/im
        .pageslist__item
          .pageslist__item-img
            h4 360 Search Android.jpg
            a(href="img/_360SearchAndroid.jpg")
              img(src="img/_360SearchAndroid.jpg")
            h4 360 Search City Android.jpg
            a(href="img/_360SearchCityAndroid.jpg")
              img(src="img/_360SearchCityAndroid.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/search?s=3&f=25&t=35&c=682") https://linkyou.ru/search
            img(src="http://joxi.ru/D2PBQXGTpRbbjr.jpg")
        .pageslist__item
          .pageslist__item-img
            h4 360 Search No Results Android.jpg
            a(href="img/_360SearchNoResultsAndroid.jpg")
              img(src="img/_360SearchNoResultsAndroid.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/search?s=3&f=25&t=35&c=682&p=771&o=3&l=0") https://linkyou.ru/search
            img(src="http://joxi.ru/LmG3DdGieYkXom.jpg")
        .pageslist__item
          .pageslist__item-img
            h4 360 Android Likes.jpg
            a(href="img/_360AndroidLikes.jpg")
              img(src="img/_360AndroidLikes.jpg")
            h4 360 No Likes Android.jpg
            a(href="img/_360NoLikesAndroid.jpg")
              img(src="img/_360NoLikesAndroid.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/answers") https://linkyou.ru/answers
        .pageslist__item
          .pageslist__item-img
            h4 360 Android Likes Comments.jpg
            a(href="img/_360AndroidLikesComments.jpg")
              img(src="img/_360AndroidLikesComments.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/comments") https://linkyou.ru/comments
        .pageslist__item
          .pageslist__item-img
            h4 360 Favourittes Android.jpg
            a(href="img/_360FavourittesAndroid.jpg")
              img(src="img/_360FavourittesAndroid.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/favorites") https://linkyou.ru/favorites
        .pageslist__item
          .pageslist__item-img
            h4 360 Android Profile Views.jpg
            a(href="img/_360AndroidProfileViews.jpg")
              img(src="img/_360AndroidProfileViews.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/guests") https://linkyou.ru/guests
        .pageslist__item
          .pageslist__item-img
            h4 360 Photoalbum Android.jpg
            a(href="img/_360PhotoalbumAndroid.jpg")
              img(src="img/_360PhotoalbumAndroid.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/user/167789") на странице пользователя всплывашка
            img(src="http://joxi.ru/bmoOV8nHxXbK9m.jpg")
        .pageslist__item
          .pageslist__item-img
            h4 360 My Photoalbum.jpg
            a(href="img/_360MyPhotoalbum.jpg")
              img(src="img/_360MyPhotoalbum.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/user/167789") на своей странице пользователя всплывашка
            img(src="http://joxi.ru/bmoOV8nHxXbK9m.jpg")
        .pageslist__item
          .pageslist__item-img
            h4 360 Photo Android.jpg
            a(href="img/_360PhotoAndroid.jpg")
              img(src="img/_360PhotoAndroid.jpg")
            h4 360 Photo Comments Android.jpg
            a(href="img/_360PhotoCommentsAndroid.jpg")
              img(src="img/_360PhotoCommentsAndroid.jpg")
            h4 360 Photo No Comments.jpg
            a(href="img/_360PhotoNoComments.jpg")
              img(src="img/_360PhotoNoComments.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/user/167789") на странице пользователя всплывашка
            img(src="http://joxi.ru/Vm6b7nlHDznBXm.jpg")
        .pageslist__item
          .pageslist__item-img
            h4 360 Dialog Android.jpg
            a(href="img/_360DialogAndroid.jpg")
              img(src="img/_360DialogAndroid.jpg")
            h4 360 Dialog 2 Android.jpg
            a(href="img/_360Dialog2Android.jpg")
              img(src="img/_360Dialog2Android.jpg")
            h4 360 Dialog+Geo Android.jpg
            a(href="img/_360Dialog+GeoAndroid.jpg")
              img(src="img/_360Dialog+GeoAndroid.jpg")
            h4 360 Dialog+Photo Android.jpg
            a(href="img/_360Dialog+PhotoAndroid.jpg")
              img(src="img/_360Dialog+PhotoAndroid.jpg")
          .pageslist__item-url
            a(href="https://linkyou.ru/im?d=400855") в сообщениях нажать на диалог
            br
            br
            | Geo и добавление Фото
            br
            img(src="http://joxi.ru/krD9D5GUEZlE6m.jpg")
        .pageslist__item
          //.pageslist__item-img
            h4 2 Android Moderation 2.jpg
            a(href="img/_2AndroidModeration2.jpg")
              img(src="img/_2AndroidModeration2.jpg")
          .pageslist__item-url
            a(href="")
        .pageslist__item
          .pageslist__item-img
            h4 
            a(href="img/_")
              img(src="img/_")
          .pageslist__item-url
            a(href="")
        .pageslist__item
          .pageslist__item-img
            h4 
            a(href="img/_")
              img(src="img/_")
          .pageslist__item-url
            a(href="")
        .pageslist__item
          .pageslist__item-img
            h4 подсказки Android.png
            a(href="img/_popupandroid.png" target="blank") 
              img(src="img/_popupandroid.png")
          .pageslist__item-url
            a(href="") 


  