.input
  border-radius 27.5px
  box-sizing border-box
  display block
  position relative
  transition border-color $speed
  background none
  box-sizing border-box
  padding 19px 34px
  height 55px
  font-size 0
  line-height 0
  &__placeholder
    position absolute
    top 0
    left 0 
    padding 19px 34px
    font-size 16px
    line-height 16px
    &.hidden
      display none      
  input
    border none
    outline none
    -webkit-appearance none
    font-size 16px
    line-height 16px
    height 16px
    background none
    width 100%
    &::-ms-clear
      display none 
    &:-webkit-autofill
      -webkit-text-fill-color transparent
      -webkit-box-shadow 0 0 0px 1000px transparent inset
      transition background-color 5000s ease-in-out 0s 
      background none  
    &:focus
      ~ .input__placeholder
        display none
    &.purple
      color #fff
      &:-webkit-autofill  
        -webkit-text-fill-color $purple
button
  outline none
  -webkit-appearance none
  border none
  &::-ms-clear
    display none 
  
  