input
  border none
  border-radius 27.5px
  box-sizing border-box
  display block
  position relative
  transition border-color $speed
  background none
  box-sizing border-box
  outline none
  -webkit-appearance none
  &::-ms-clear
    display none 
  &:-webkit-autofill
    -webkit-text-fill-color #000
    -webkit-box-shadow 0 0 0px 1000px transparent inset
    transition background-color 5000s ease-in-out 0s 
    background none  
button
  outline none
  -webkit-appearance none
  &::-ms-clear
    display none 
  
  