.main-page
  background-image linear-gradient(60deg, rgba(255,255,255,1) 21%, rgba(243,240,254,1) 100%)/*rgba(243,240,254,1)*/
  .preview
    padding-top 77px
    background-image url(../img/bg_top.png)
    background-repeat no-repeat
    font-size 0
    padding-bottom 82px
    +a($t)
      background-position calc(50% + 401px) 0
    +b($t)
      background-position calc(50% + 572px) 0
    &:after
      content ''
      width 100%
      clear both
      display block
      float none
      height 0px
      position relative
    &__left
      vertical-align top 
      position relative
      z-index 1
      +a($t)
        width 42.5%   
        display inline-block
        padding-top 155px     
      +b($t)
        width 100%   
        display block 
        padding-top 61px   
    &__right
      vertical-align bottom
      position relative
      z-index 1
      +a($t)
        display inline-block
        width 57.5%
        padding-top 95px
      +btw($m, $t)
        width 100%   
        display block 
        padding-top 55px
      +b($m)
        width 100%   
        display block 
        padding-top 36px
    &__subtitle
      font-weight bold
      text-transform uppercase
      padding-bottom 35px
      color $purple
      +a($m)
        font-size 16px
        line-height 18px
      +b($m)
        font-size 11px
        line-height 15px
        text-shadow 0px 0px 2px #fff 
    &__title
      font-weight bold
      padding-bottom 15px
      color $black
      max-width 581px
      +a($m)
        line-height 55px
        font-size 45px
      +b($m)
        line-height 33px
        font-size 27px
    &__text
      font-size 16px
      line-height 18px
      color $gray
      +a($m)
        padding-bottom 50px
      +b($m)
        padding-bottom 30px
    &__img
      float right
      overflow hidden
      line-height 0
      background-color rgb(113, 54, 226)
      box-shadow 0px 28px 64.68px 19.32px rgba(0, 0, 0, 0.27)
      margin-left 30px
      +a($t)
        max-width 100% 
        border-radius 24px       
      +btw($m, $t)
        width 100%
        border-radius 24px   
      +b($m)
        border-radius 13px 
        width 100%      
      img 
        width 100%
    &__form 
      width 100%  
      max-width 515px 
      position relative
      &-input
        display inline-block
        border 1px solid #dcdcdc
        border-radius 27.5px
        padding 20px 220px 19px 34px
        //width 380px
        width 100%
        max-width 515px
        box-sizing border-box
        height 55px
        position relative
        z-index 1
        vertical-align top    
        .input__placeholder
          color $gray
        input:-webkit-autofill
          -webkit-text-fill-color $black
      &-button
        vertical-align top
        border-radius 27.5px
        //position relative
        font-size 16px
        height 55px
        line-height 16px
        text-align center
        padding 20px 25px 19px
        color #fff
        z-index 2
        cursor pointer
        box-sizing border-box
        font-weight 500
        //margin-left -72px
        background #6841f2
        right 0
        background linear-gradient(to right, rgba(104,65,242,1) 8%,rgba(104,65,242,1) 8%,rgba(113,54,226,1) 100%) 
        +a($m)
          display inline-block 
          position absolute         
        +b($m)  
          width 100%
          display block 
          position relative
          margin-top 15px
        &:hover
          background #6841f2
    &__arrow
      margin 43px auto 0
      position relative
      width 32px
      height 55px
      transition all $speed
      +a($t)
        display block
      +b($t)
        display none
      &:hover
        opacity 0.8        
      img 
        width 100%
        height 100%
  .principles
    &__title
      margin-bottom 45px
      +a($m)
        line-height 55px
        font-size 45px
      +b($m)
        line-height 33px
        font-size 27px
    &__list
      font-size 0
      line-height 0
      &-item
        display inline-block
        vertical-align top
        box-sizing border-box
        +a($t)
          width 25%
          padding-left 100px
          &:first-child
            padding 0          
            width calc(25% - 49px)
          &:nth-child(2)
            width calc(25% + 34px)  
          &:last-child
            padding-left 89px
            width calc(25% + 15px)     
        +btw($m, $t) 
          width calc(50% + 18px) 
          padding-left 95px 
          margin-bottom 52px
          &:nth-child(2n+1)
            padding 0          
            width calc(50% - 49px)  
        +b($m)
          width 100% 
          margin-bottom 39px      
        &-title 
          font-size 18px
          line-height 24px
        &-img
          width 96px
          margin-bottom 24px
          img 
            width 100%
        &-text
          font-size 16px
          line-height 24px
          color #c0bfc5
          margin-top 12px
  .using
    position relative
    +a($t)
      padding-top 145px
      min-height 860px
      background url('../img/tabs.png') no-repeat calc(50% - 476px) -7px    
    +btw($t, $d)
      padding-top 145px
      min-height 860px
      background url("../img/tabs.png") no-repeat calc(10% - 520px) -7px   
    +btw($m, $t)
      padding-top 0
      min-height 1064px
      background url('../img/tabs.png') no-repeat -361px 197px
      background-size 875px
    +b($m)
      padding-top 43px
      min-height 749px
      background url('../img/tabs.png') no-repeat -122px 359px
      background-size 401px
    &__wrap
      +a($t)
        //padding-left 628px 
        max-width 739px
        right 40px
        position absolute
    .container
      position relative
      +b($m)
        padding 0
    &__title
      +a($m)
        line-height 55px
        font-size 45px
        margin-bottom 45px
      +b($m)
        line-height 33px
        font-size 27px
        padding 0 20px
        margin-bottom 25px
    &__tabs
      display block
      +b($m)
        overflow auto
        -ms-overflow-style none
        overflow -moz-scrollbars-none
      &::-webkit-scrollbar 
        width 0
      &-titles
        font-size 0
        line-height 0
        border-radius 27.5px
        border 1px solid #dcdcdc
        background #fff
        white-space nowrap
        +b($d) 
          min-width 670px
        +b($m)
          margin 0 20px
        &-item 
          display inline-block
          vertical-align top
          line-height 55px
          height 55px
          font-size 16px
          color $gray
          background #fff
          border-radius 27.5px
          transition all $speed
          box-sizing border-box
          text-align center
          +a($d)
            padding 0 24px
          +b($d) 
            width calc(100%/4)
          &:hover
            color $purple
            cursor pointer
          &.active
            color #ffffff
            background $purple
            &:hover
              color #ffffff              
      &-content        
        +a($d)
          margin-top 74px
        +btw($m, $d) 
          margin-top 39px
          min-width 100%         
        +b($m)
          padding 0 20px
          position absolute
          margin-top 27px
        &-item
          display none
          position relative
          &.active
            display block
        &-about
          &-title
            font-weight bold
            margin-bottom 10px
            +a($m)
              font-size 38px
              line-height 38px
            +b($m)
              font-size 20px
              line-height 24px
          &-text
            color $gray
            font-size 16px
            line-height 24px
            padding-left 35px
            position relative
            width 100% 
            box-sizing border-box
            +a($t)
              max-width 620px
            +btw($m, $t)
              padding-right 40px
            +b($m)
              padding-right 20px
            &:before
              content ''
              width 1px
              background $purple
              height calc(100% - 8px) 
              position absolute
              top 50%
              transform translateY(-50%)
              left 0 
        &-img
          position absolute 
          box-shadow 0px 19px 46px 0px rgba(0, 0, 0, 0.23)
          overflow hidden
          font-size 0
          line-height 0
          +a($t)
            top 105px
            left -345px
            border-radius 24px
          +btw($m, $t)
            top 482px
            left 120px
            border-radius 24px
          +b($m)
            top 350px
            width 150px
            left 131px
            border-radius 14px
          img
            width 100%
        &-arrow
          position absolute
          color $gray
          font-size 16px
          line-height 24px
          height 135px
          +a($t)
            top 247px
            background url('../img/arrow-tabs.png') no-repeat 0 10px
            padding-left 232px
          +btw($m, $t)
            top 486px
            left 447px
            background url('../img/arrow-tabs.png') no-repeat 0 14px
            background-size 156px
            padding-left 94px
          +b($m)
            display none
  .sphere
    .container
      +a($m)
        padding 0
    &__title
      margin-bottom 18px 
      max-width 100% 
      +a($m)
        padding 0 20px
      +b($m) 
        padding 0
    &__text
      color $gray
      font-size 16px
      line-height 24px
      max-width 100% 
      +a($m)
        padding 0 20px
      +b($m) 
        padding 0
    &__wrap
      max-width 100%
      -ms-overflow-style none
      overflow -moz-scrollbars-none
      &::-webkit-scrollbar 
        width 0
      +a($m)
        overflow auto
      +b($m)
        overflow visible
    &__list
      padding-top 40px
      font-size 0
      line-height 0
      +a($m)
        min-width 1366px
      +b($m) 
        width 100%
      &-item 
        vertical-align top
        text-decoration none
        text-align center
        border 1px solid #e8e8e8
        background #fff
        box-sizing border-box
        +a($m)
          display inline-block
          width 31.8%        
          height 415px
          margin-left 2.3%
          border-radius 24px
          padding-top 78px
          &:first-child
            margin-left 0
        +b($m)
          display block
          width 282px        
          height 284px
          margin 0 auto 24px
          border-radius 14px
          padding 37px 10px 0
          br 
            display none
        /*&:hover
          box-shadow 0px 0px 46px 0px rgba(0, 0, 0, 0.19)
          text-decoration none*/
        &-img
          display block
          margin 0 auto  
          +a($m)  
            width 192px
          +b($m)     
            width 159px 
          img 
            width 100%
        &-title
          margin-top 25px
          color $black
          +a($m)
            font-size 38px
            line-height 38px
          +b($m)
            font-size 20px
            line-height 24px 
        &-text 
          margin-top 10px
          color $gray
          +a($m)  
            font-size 16px
            line-height 24px
          +b($m)      
            font-size 16px
            line-height 24px 
  .features
    font-size 0
    line-height 0
    +a($m)
      margin-bottom 50px
    +b($m)
      margin-bottom 10px
    &__title
      padding 42px 0 45px      
    &__wrap
      max-width 100%
      -ms-overflow-style none
      overflow -moz-scrollbars-none
      &::-webkit-scrollbar 
        width 0      
      +a($d)
        width 65.5%
        margin-right 2.5%
        overflow visible
        display inline-block
        vertical-align top
      +btw($m, $d)
        width 100%
        overflow visible
      +b($m)
        overflow auto 
    &__list
      display inline-block
      vertical-align top
      //margin-right 35px
      //width 895px
      +a($d)
        width 100%
      +btw($m, $d)
        width 100%
      +b($m)
        min-width 1530px
      &-item
        display inline-block
        vertical-align top
        //width 250px
        //margin-left 72.5px
        margin-bottom 52px
        +a($t)
          width 28%
          margin-left 8%       
          &:nth-child(3n+1)
            margin-left 0
        +btw($m, $t)
          width 36%
          max-width 264px
          margin-left 8%    
          margin-right 20%   
          &:nth-child(2n+1)
            margin-left 0  
            margin-right 0 
        +b($m)
          width 15%
          margin-left 2%
          margin-bottom 0
          &:first-child
            margin-left 0
        &-img 
          margin-bottom 35px
        &-title 
          font-size 18px
          line-height 20px
        &-text 
          font-size 16px
          line-height 24px 
          color $gray    
          margin-top 12px        
    &__anons
      display inline-block
      vertical-align top
      //max-width 436px
      background $purple
      border-radius 24px
      padding 60px 53px 57px
      box-sizing border-box
      color #fff
      +a($d)
        width 32%
      +b($d)
        display none
      &-title
        font-size 30px
        line-height 37px 
        font-weight bold
        color #fff
        margin-bottom 20px
      &-number
        font-size 72px
        line-height 72px
        margin-top 25px
        span 
          font-size 18px
          line-height 37px
          display block
  .prices
    +a($d)
      margin-bottom 64px
    +b($d)
      margin-bottom 35px 
    &__title
      margin-bottom 15px
    &__text
      font-size 16px
      line-height 24px
      color $gray
      position relative
      padding-left 35px
      &:before
        content ''
        width 1px
        background $purple
        height calc(100% - 8px) 
        position absolute
        top 50%
        transform translateY(-50%)
        left 0 
    &__tabs
      margin-top 30px
      &-titles
        font-size 0
        line-height 0
        border-radius 27.5px
        border 1px solid #dcdcdc
        display inline-block
        white-space nowrap
        +b($m)
          width 100%
        &-item 
          display inline-block
          vertical-align top
          white-space nowrap
          line-height 55px
          height 55px
          font-size 16px
          color $gray
          padding 0 24px
          border-radius 27.5px
          transition all $speed
          text-align center
          +b($m)
            width 50%
            box-sizing border-box
          &:hover
            color $purple
            cursor pointer
          &.active
            color #ffffff
            background $purple
            background-image -webkit-linear-gradient(left, #6538d8 8%,  #7136e2 100%)
            background-image -o-linear-gradient(left, #6538d8 8%, #7136e2 100%)
            background-image linear-gradient(to right, #6538d8 8%, #7136e2 100%)
            &:hover
              color #ffffff
      &-content
        padding 45px
        min-width 100%
        -ms-overflow-style none
        overflow -moz-scrollbars-none
        margin-left -45px
        &::-webkit-scrollbar 
          width 0      
        +a($m)
          overflow auto
        +b($m)
          overflow visible
        &-item
          font-size 0
          line-height 0
          display none     
          +a($m)
            width 1366px
          +b($m)
            width 100%
          &.active
            display block
        &-block
          background-color #fff
          background-image url('../img/price-block.png')
          background-repeat no-repeat
          border-radius 24px
          border 1px dolid #dcdcdc
          box-shadow 0px 0px 46px 0px rgba(0, 0, 0, 0.19)
          border-radius 24px
          box-sizing border-box    
          +a($m)
            width 31.8%   
            height 430px   
            margin-left 2.3%  
            display inline-block
            vertical-align top    
            background-position 307px 48px   
            padding 70px 43px 0 
            &:first-child
              margin-left 0
          +b($m)
            height 385px
            width 100%
            max-width 385px
            display block   
            margin 0 auto 24px 
            padding 54px 25px 0 
            background-position calc(100% - 28px) 20px
          &-title
            font-weight bold
            margin-bottom 5px
            +a($m)
              font-size 38px 
              line-height 38px
            +b($m)
              font-size 27px 
              line-height 27px
          &-text
            font-size 16px 
            line-height 36px
            color $gray
          &-price
            font-weight bold
            color #6841f1
            +a($m)
              font-size 30px 
              line-height 48px
            +b($m)
              font-size 22px 
              line-height 48px
          &-list            
            font-size 16px 
            line-height 36px
            color $gray
            padding-left 35px 
            position relative
            img 
              position absolute
              left 0
              top 50%
              transform translateY(-50%)
          &-button
            vertical-align top
            display inline-block
            border-radius 27.5px
            position relative
            font-size 16px
            height 55px
            line-height 16px
            text-align center
            padding 20px 25px 19px
            color $purple
            cursor pointer
            box-sizing border-box
            font-weight 500
            border 1px solid $purple
            background #fff
            text-decoration none
            transition all $speed
            +a($m)
              margin-top 25px
            +b($m)
              margin-top 10px
            &:hover
              background $purple
              color #fff
              text-decoration none
  .summary
    background url('../img/form-back.png') no-repeat  
    box-sizing border-box
    font-size 0
    margin-bottom 66px
    +a($d)
      display flex 
      direction rtl  
      min-height 734px
      background-size 48.5% 100%
      background-position 0 0
      padding-top 50px
    +btw($m, $d)
      display block
      background-size 110% 677px
      background-position 0 100%
    +b($m)
      display block
      background-size 768px 550px
      background-position -50px 100%
    &__form
      direction ltr
      +a($d)
        display inline-block
        vertical-align top
        width 525px
      +btw($m, $d)
        display block
        padding-bottom 110px
        width 525px
      +b($m)
        display block
        padding-bottom 70px
        width 100%
      &-title
        color #fff
        min-width 290px
      &-text
        font-size 16px
        line-height 45px
        color #fff
        margin-bottom 35px
        white-space nowrap
      form
        +a($m)
          width 373px
        +b($m)
          max-width 373px
          width 100%
      &-input
        display inline-block
        vertical-align top
        border-radius 27.5px 
        border 1px solid #fff
        width 100%
        margin-bottom 30px
        input, .input__error, .input__placeholder
          color #fff
      &-button
        vertical-align top
        display inline-block
        border-radius 27.5px
        position relative
        font-size 16px
        height 55px
        line-height 16px
        text-align center
        padding 20px 25px 19px
        color $purple
        cursor pointer
        box-sizing border-box
        font-weight 500
        background #fff
        width 210px
        margin-top 30px
        border 1px solid #fff
        transition all $speed
        +b($m)
          width 100%
        &.-disable
          opacity 0.5
          pointer-events none        
        &:hover
          text-decoration none
          color #fff 
          background transparent
          border 1px solid #fff
    &__partners
      direction ltr
      +a($d)
        display inline-block
        vertical-align top
        width 595px
        padding-left calc(100% - 1120px)
      +btw($m, $d)
        display block
        margin-bottom 100px
        width 595px
      +b($m)
        width 100%
        margin-bottom 100px
      &-title 
        +a($m)
          margin-bottom 60px
        +b($m)
          margin-bottom 30px
      &-list 
        &-item 
          width 250px
          height 96px
          +a($m)
            display inline-block
            vertical-align top
            margin-left 60px 
            &:nth-child(2n+1)
              margin-left 0
          +b($m)
            display block
.registration
  background url('../img/regisback.png')
  background-size 100% 100%
  margin-top 43px
  box-sizing border-box
  color #fff
  +a($d)
    background-size 100% 100%  
    min-height 548px  
    padding-top 153px
  +b($d)
    background-size cover
    padding 153px 0
  &__title
    color #fff
  &__text
    font-size 16px
    +a($d)
      line-height 45px
    +b($d)
      line-height 24px
      margin-top 30px
  &__form
    margin-top 40px
    &-input
      border-radius 27.5px 
      border 1px solid #fff
      +a($d)
        display inline-block
        vertical-align top
        width 373px    
        margin-right 30px  
      +btw($m, $d)
        display block
        max-width 373px
        width 100%
        margin-bottom 25px  
      +b($m) 
        display block
        width 100%
        margin-bottom 25px        
      input, .input__error
        color #fff 
    &-button
      border-radius 27.5px
      position relative
      font-size 16px
      height 55px
      line-height 16px
      text-align center
      padding 20px 25px 19px
      color $purple
      cursor pointer
      box-sizing border-box
      font-weight 500
      background #fff
      border 1px solid #fff
      transition all $speed
      +a($d)
        display inline-block
        vertical-align top
      +btw($m, $d)
        display block
        max-width 210px 
        width 100%
      +b($m)
        display block
        width 100%
      &:hover
        text-decoration none
        color #fff 
        background transparent
        border 1px solid #fff
    